*{
  margin:0;
  background-color: #f2f3f4;
}

#page-title{
  font-weight: 500;
}

#billing-form{
  display:grid;
  place-items: center;
  background-color: #f2f3f4;
  padding-top: 2rem;
}

.form-group{
  display: flex;
  width:20rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.form-inputs{
  width:min-content;
}

.form-label{
  font-weight: 500;
}

.header{
  display:flex;
  align-items: center;
  justify-content: space-around;
  background-color: inherit;
  height:3.5rem;
  width: 100vw;
  background-color: #222222;
  background-image: linear-gradient(rgb(60, 60, 60) 0px, rgb(34,34,34) 100);
  color: lightgray;
}

.header-title{
  background-color: inherit;
}

.header-items{
  background-color: inherit;
  font-size: 1rem;
}
