*{
  margin:0;
  background-color: #f2f3f4;
}

#billing-form{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f3f4;
  padding-top: 2rem;
}

.form-inputs{
  margin-bottom: 1rem;
  width:min-content;
}

.form-button{
  width:min-content;
}

.form-label{
  font-weight: bold;
}

.header{
  display:flex;
  align-items: center;
  justify-content: space-around;
  background-color: inherit;
  height:4rem;
  width: 100vw;
  background-color: #222222;
  background-image: linear-gradient(rgb(60, 60, 60) 0px, rgb(34,34,34) 100);
  text-transform: uppercase;
  color: lightgray;
}

.header-title{
  background-color: inherit;
}

.header-items{
  background-color: inherit;
}
